$sidebar-width: 240px;
$hamburger-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
$sidebar-animation: $hamburger-transition;

$alert-shadow: 2px 2px 4px rgba(0, 0, 0, .4);

/* body background color  #1d2939 */
$color1: #e4e7ea;

/* body font color  */
$color2: #636e7b;

/* side bar background color  */
$color3: #131e27;

/* side bar hover background color */
$color4: #428bca;

/* side bar active menu background color */
$color5: #428bca;

/* side bar font color */
$color6: #c1d7e7;

/* head background color  */
$color7: #428bca;

/* head menu background color */
$color8: #428bca;

/* logo background color */
$color9: #2870ae;

/* main content background color */
$color10: #e4e7ea;

/* sidebar background color*/
$color11: #1d2939;

/* button background color*/
$color12: #428bca;

/* button active hover open background color*/
$color13: #2870ae;

/* alert background color */
$color14: #e51c23;